<!doctype html>


<img src=".\image\logo.jpg" class="logo" width="145" height="109" align="right" margin-right=400px />
<div id="titre_general">
<h1>Materiels informatiques du stock</h1>
</div>

<div id="description">
<p>Liste des differents materiels :</p> 
</div>

Ajouter un Materiel :
<button class="btn-warning" ng-click="displayForm()">
    <span class="glyphicon glyphicon-plus"></span>
</button>
    

    <form novalidate class="simple-form" ng-show="addForm">
        <fieldset>
            <legend>Info du materiel :</legend>
            <label>Designation : <input type="text" ng-model="designation" /></label>
            <label>Categorie : <input type="text" ng-model="categorie" /></label>
            <label>Marque : <input type="text" ng-model="marque" /></label>
            <label>Num Serie : <input type="text" ng-model="numero" /></label>
            <label class="checkbox-label">Disponible : <input type="checkbox" ng-model="dispo" class="radio" value="1" /></label>

            <input type="reset" ng-click="clear()" class="reset" value="Effacer" /> 

            <input type="submit" ng-click="addLine(stocks.length+1)" class="valid" value="Valider" />
        </fieldset>
    </form>




<table class="table" style="text-align:center">
<thead>
    <tr>
        <th>
        ID
        <button ng-click="sortBy('id')" class="btn btn-success">
        <i ng-class="{'glyphicon glyphicon-sort-by-alphabet' : !reverse  || propertyName != 'id', 'glyphicon glyphicon-sort-by-alphabet-alt': reverse  && propertyName == 'id'}"></i>    
        </button>
        <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
        </th>
        
        <th>
        Designation
        <button ng-click="sortBy('designation')" class="btn btn-success">
        <i ng-class="{'glyphicon glyphicon-sort-by-alphabet' : !reverse  || propertyName != 'designation', 'glyphicon glyphicon-sort-by-alphabet-alt': reverse  && propertyName == 'designation'}"></i>    
        </button>
        <span class="sortorder" ng-show="propertyName === 'designation'" ng-class="{reverse: reverse}"></span>
        </th>
        
        <th>
        Categorie
        <button ng-click="sortBy('categorie')" class="btn btn-success">
        <i ng-class="{'glyphicon glyphicon-sort-by-alphabet' : !reverse  || propertyName != 'categorie', 'glyphicon glyphicon-sort-by-alphabet-alt': reverse  && propertyName == 'categorie'}"></i>       
        <span class="sortorder" ng-show="propertyName === 'categorie'" ng-class="{reverse: reverse}"></span>
        </button>
        </th>
        
        <th>
        Marque
        <button ng-click="sortBy('marque')" class="btn btn-success">
        <i ng-class="{'glyphicon glyphicon-sort-by-alphabet' : !reverse  || propertyName != 'marque', 'glyphicon glyphicon-sort-by-alphabet-alt': reverse  && propertyName == 'marque'}"></i>       
        <span class="sortorder"  ng-show="propertyName === 'marque'" ng-class="{reverse: reverse}"></span>
        </button>
        </th>
        
        <th>
        Num Serie
        <button ng-click="sortBy('numero')" class="btn btn-success">
        <i ng-class="{'glyphicon glyphicon-sort-by-alphabet' : !reverse  || propertyName != 'numero', 'glyphicon glyphicon-sort-by-alphabet-alt': reverse  && propertyName == 'numero'}"></i>   
        <span class="sortorder" ng-show="propertyName === 'numero'" ng-class="{reverse: reverse}"></span>
        </button>
        </th>

        <th>
        Disponible
        <button ng-click="sortBy('dispo')" class="btn btn-success">
        <i ng-class="{'glyphicon glyphicon-sort-by-alphabet' : !reverse  || propertyName != 'dispo', 'glyphicon glyphicon-sort-by-alphabet-alt': reverse  && propertyName == 'dispo'}"></i>   
        <span class="sortorder" ng-show="propertyName === 'dispo'" ng-class="{reverse: reverse}"></span>
        </button>
        </th>
        
        <th  style="color:#1E88E5;">
        + d'Info
        </th>
        
    
        <th style="color:#d9534f;">
        Supprimer
        </th>
         
    </tr>
</thead>
<tbody>
    <tr ng-repeat="stock in stocks | orderBy:propertyName:reverse ">
        

        <td>{{stock.id}}</td>
        <td>{{stock.designation}}</td>
        <td>{{stock.categorie}}</td> 
        <td>{{stock.marque}}</td>
        <td>{{stock.numero}}</td>
        <td>
        <span ng-class="{'glyphicon glyphicon-remove-sign': !stock.dispo, 'glyphicon glyphicon-ok-sign': stock.dispo}"></span>
        </td> 
    
        <td>
        <a href="stock/{{stock.id}}"><button class="btn btn-info">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button></a>
        </td> 
            
        <td>
        <button class="btn btn-danger" ng-click="delete(stock)">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        </td>    
        
    </tr>
</tbody>
</table>
    


