<html>
<header>
    <title>LIONEL</title>
</header>

<body ng-app="myApp">

    <div class="users" ng-controller="usersCtrl">
       <div>
           <label for="addUser">Ajout d'un nouvel utilisateur</label>
           <input id="addUser" placeholder="Ajout d'un nouveau utilisateur" ng-model="newUserName">
           <h4>{{newUserName}}</h4>
       </div>
       <div class="user" ng-repeat="user in users">
            <h1 id="nom">{{user.name}}</h1>
            <p id="about">{{user.about}}</p>
        </div>
    </div>

    <div>

    </div>


</body>

<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js" type="application/javascript"></script>


<script>

    //$('#nom').text('sdfqsdf');
    var app = angular.module('myApp',[]);

    app.controller('usersCtrl',['$scope',function($scope){

        $scope.users = [
              {
                "_id": "58aae1913c05aef3567f14a2",
                "index": 0,
                "guid": "dbb728f2-1ea0-4027-a5c9-ead39c82673e",
                "isActive": true,
                "balance": "$2,591.32",
                "picture": "http://placehold.it/32x32",
                "age": 29,
                "eyeColor": "brown",
                "name": "Ross Perry",
                "gender": "male",
                "company": "QUILCH",
                "email": "rossperry@quilch.com",
                "phone": "+1 (842) 448-3609",
                "address": "357 Duryea Place, Adamstown, Minnesota, 9389",
                "about": "Aliqua ut sint do eu excepteur enim tempor magna veniam ea elit duis nulla. Culpa pariatur consequat anim proident nostrud est do magna adipisicing fugiat dolore sit elit. Est quis ut ea exercitation sint aute culpa est eu laboris reprehenderit voluptate. Occaecat dolor tempor incididunt est officia mollit duis eu adipisicing dolore ut. Culpa et cillum reprehenderit pariatur eu dolore. Et commodo culpa irure nostrud id occaecat eu laboris ipsum do tempor.\r\n",
                "registered": "2015-09-29T08:54:29 -02:00",
                "latitude": -66.011751,
                "longitude": -146.699132,
                "tags": [
                  "do",
                  "cillum",
                  "deserunt",
                  "cillum",
                  "officia",
                  "veniam",
                  "aliquip"
                ],
                "friends": [
                  {
                    "id": 0,
                    "name": "Faulkner Calderon"
                  },
                  {
                    "id": 1,
                    "name": "Tillman Rollins"
                  },
                  {
                    "id": 2,
                    "name": "Manuela Francis"
                  }
                ],
                "greeting": "Hello, Ross Perry! You have 4 unread messages.",
                "favoriteFruit": "banana"
              },
              {
                "_id": "58aae1916849d4a54e8c4c28",
                "index": 1,
                "guid": "997d8f82-5798-4139-9e34-386a156485db",
                "isActive": true,
                "balance": "$3,663.07",
                "picture": "http://placehold.it/32x32",
                "age": 27,
                "eyeColor": "blue",
                "name": "Genevieve Estrada",
                "gender": "female",
                "company": "MAGMINA",
                "email": "genevieveestrada@magmina.com",
                "phone": "+1 (918) 591-2847",
                "address": "858 Jardine Place, Dalton, Tennessee, 9276",
                "about": "Duis fugiat labore non et id. Tempor anim cupidatat anim magna cupidatat fugiat. Cupidatat fugiat in mollit voluptate sit. Esse in ullamco consectetur cupidatat ipsum consectetur ipsum occaecat sit reprehenderit. Nostrud excepteur exercitation excepteur ex mollit dolor magna.\r\n",
                "registered": "2014-03-10T12:20:11 -01:00",
                "latitude": 28.059613,
                "longitude": 57.41039,
                "tags": [
                  "dolor",
                  "Lorem",
                  "eiusmod",
                  "velit",
                  "labore",
                  "aliqua",
                  "do"
                ],
                "friends": [
                  {
                    "id": 0,
                    "name": "Pickett Scott"
                  },
                  {
                    "id": 1,
                    "name": "Cline Duran"
                  },
                  {
                    "id": 2,
                    "name": "Morrow Johns"
                  }
                ],
                "greeting": "Hello, Genevieve Estrada! You have 1 unread messages.",
                "favoriteFruit": "apple"
              },
              {
                "_id": "58aae191b9ba0e3c5639c6ce",
                "index": 2,
                "guid": "4893d78e-3234-477e-a6de-b02ec8d41459",
                "isActive": false,
                "balance": "$3,158.12",
                "picture": "http://placehold.it/32x32",
                "age": 40,
                "eyeColor": "brown",
                "name": "Beatrice Copeland",
                "gender": "female",
                "company": "GORGANIC",
                "email": "beatricecopeland@gorganic.com",
                "phone": "+1 (808) 522-2278",
                "address": "724 Rodney Street, Choctaw, Nevada, 8069",
                "about": "Eu eu fugiat esse sunt anim pariatur qui pariatur ullamco sint ullamco consequat. Amet labore eiusmod exercitation nulla ipsum in fugiat in eu fugiat fugiat id fugiat eu. Id aliquip irure duis commodo nostrud elit. Excepteur fugiat minim Lorem quis aliqua exercitation ut aliqua adipisicing reprehenderit. Cupidatat anim mollit eu irure dolore qui laborum dolor fugiat. Labore velit et ex consequat amet ipsum mollit exercitation. Officia ipsum reprehenderit in consequat exercitation consequat labore ipsum dolor.\r\n",
                "registered": "2014-01-13T04:53:46 -01:00",
                "latitude": -39.727282,
                "longitude": 54.948449,
                "tags": [
                  "dolore",
                  "in",
                  "dolor",
                  "consequat",
                  "culpa",
                  "nostrud",
                  "incididunt"
                ],
                "friends": [
                  {
                    "id": 0,
                    "name": "Phoebe Cole"
                  },
                  {
                    "id": 1,
                    "name": "Jane Ross"
                  },
                  {
                    "id": 2,
                    "name": "Briggs Andrews"
                  }
                ],
                "greeting": "Hello, Beatrice Copeland! You have 1 unread messages.",
                "favoriteFruit": "apple"
              },
              {
                "_id": "58aae191a9abfafdb1c9a483",
                "index": 3,
                "guid": "d242744f-df62-4ecc-bd7c-2de01f9a08af",
                "isActive": true,
                "balance": "$1,314.55",
                "picture": "http://placehold.it/32x32",
                "age": 34,
                "eyeColor": "blue",
                "name": "Deleon Gibbs",
                "gender": "male",
                "company": "BLURRYBUS",
                "email": "deleongibbs@blurrybus.com",
                "phone": "+1 (942) 595-2798",
                "address": "156 Stewart Street, Irwin, Wyoming, 1031",
                "about": "Est exercitation ea quis aliqua consectetur labore minim sint. Id sit quis sint Lorem anim commodo ullamco. Et tempor amet dolor adipisicing esse velit sint esse sint elit do ea amet. Commodo reprehenderit consectetur incididunt velit consectetur cillum ex. Ad tempor fugiat velit nisi ut anim ea eiusmod exercitation est exercitation sunt.\r\n",
                "registered": "2016-09-16T05:24:06 -02:00",
                "latitude": -2.317311,
                "longitude": -27.845437,
                "tags": [
                  "ad",
                  "proident",
                  "in",
                  "excepteur",
                  "et",
                  "amet",
                  "ea"
                ],
                "friends": [
                  {
                    "id": 0,
                    "name": "Tracie Hull"
                  },
                  {
                    "id": 1,
                    "name": "Lenore Brown"
                  },
                  {
                    "id": 2,
                    "name": "Avila Santos"
                  }
                ],
                "greeting": "Hello, Deleon Gibbs! You have 1 unread messages.",
                "favoriteFruit": "strawberry"
              },
              {
                "_id": "58aae1917961bc803bd472b9",
                "index": 4,
                "guid": "56ad48b9-3ce7-4d65-ac8e-ed764ba23c45",
                "isActive": false,
                "balance": "$1,415.65",
                "picture": "http://placehold.it/32x32",
                "age": 36,
                "eyeColor": "brown",
                "name": "Powers Sargent",
                "gender": "male",
                "company": "QUOTEZART",
                "email": "powerssargent@quotezart.com",
                "phone": "+1 (915) 434-2340",
                "address": "432 Kent Avenue, Edneyville, Massachusetts, 8527",
                "about": "Adipisicing enim et cupidatat id ex exercitation duis nisi commodo anim. Veniam anim enim duis in voluptate dolore et cupidatat commodo esse irure sit cupidatat magna. Mollit anim dolor minim exercitation exercitation commodo sit.\r\n",
                "registered": "2014-07-10T05:52:07 -02:00",
                "latitude": 37.715427,
                "longitude": -170.113016,
                "tags": [
                  "aliquip",
                  "consequat",
                  "dolore",
                  "et",
                  "consequat",
                  "fugiat",
                  "veniam"
                ],
                "friends": [
                  {
                    "id": 0,
                    "name": "Goldie Key"
                  },
                  {
                    "id": 1,
                    "name": "Mcdowell Bradford"
                  },
                  {
                    "id": 2,
                    "name": "Estelle Gallegos"
                  }
                ],
                "greeting": "Hello, Powers Sargent! You have 10 unread messages.",
                "favoriteFruit": "banana"
              },
              {
                "_id": "58aae191612d24d759baaa7e",
                "index": 5,
                "guid": "c30ab5c4-215f-49dc-b623-fd9ea04b60d1",
                "isActive": false,
                "balance": "$2,196.83",
                "picture": "http://placehold.it/32x32",
                "age": 36,
                "eyeColor": "brown",
                "name": "Rhea Acevedo",
                "gender": "female",
                "company": "UBERLUX",
                "email": "rheaacevedo@uberlux.com",
                "phone": "+1 (854) 499-3113",
                "address": "348 Monitor Street, Allamuchy, Texas, 689",
                "about": "Amet occaecat culpa velit sit laborum aute voluptate aliqua ipsum do. Eiusmod ullamco sint aute ut do enim minim minim eiusmod aute mollit eu sunt. Irure minim laborum fugiat eiusmod labore Lorem enim fugiat deserunt id veniam cillum nulla laborum. Nostrud cupidatat qui exercitation culpa culpa proident ullamco.\r\n",
                "registered": "2015-08-26T08:57:22 -02:00",
                "latitude": -8.468135,
                "longitude": -143.55242,
                "tags": [
                  "sunt",
                  "aute",
                  "deserunt",
                  "consectetur",
                  "dolor",
                  "minim",
                  "non"
                ],
                "friends": [
                  {
                    "id": 0,
                    "name": "Lloyd Ward"
                  },
                  {
                    "id": 1,
                    "name": "Janie Hansen"
                  },
                  {
                    "id": 2,
                    "name": "Frieda Melton"
                  }
                ],
                "greeting": "Hello, Rhea Acevedo! You have 2 unread messages.",
                "favoriteFruit": "apple"
              }
            ];

        $scope.
    }]);


    /*$(users).each(function(number,user){
        var newUser = $('.user').first().clone();
        $('#nom',newUser).text(user.name);
        $('#about',newUser).text(user.about);
        $('.users').append(newUser);
    });*/

</script>

</html>
